<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Flight Reservation System
  </h1>
</div>

<!--<nav class="topnav"> 
 <a routerLink="/search" routerLinkActive="active">1.Search Flight</a>
 <a routerLink="/select" routerLinkActive="active">2.Select Flight</a>
 <a routerLink="/price" routerLinkActive="active">3.Flight Price</a>
 <a routerLink="/book" routerLinkActive="active">4.Book Ticket</a>
 <a routerLink="/payment" routerLinkActive="active">5.Payment</a>
 <a routerLink="/summary" routerLinkActive="active">6.Booking Summary</a>
</nav>  -->

<!-- <div class="topnav">
    <a class="active" href="#home">1.Search Flight</a>
    <a href="#news">2.Select Flight</a>
    <a href="#contact">3.Flight Price</a>
    <a href="#about">4.Book Ticket</a>
    <a href="#about">5.Payment</a>
    <a href="#about">6.Booking Summary</a>
  </div> -->

  <nav class="nav nav-pills nav-justified">
    <a class="nav-link active" routerLink="/search" routerLinkActive="active">1.Search Flight</a>
    <a class="nav-link" routerLink="/book" routerLinkActive="active">4.Book Ticket</a>
    <a class="nav-link disabled" routerLink="/select" routerLinkActive="active">2.Select Flight</a>
    <a class="nav-link disabled" outerLink="/price" routerLinkActive="active">3.Flight Price</a> 
    <a class="nav-link disabled" routerLink="/payment" routerLinkActive="active">5.Payment</a>
    <a class="nav-link disabled" routerLink="/summary" routerLinkActive="active">6.Booking Summary</a>
  </nav>
  

<router-outlet></router-outlet>
<!-- roter-view goes here -->